<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home Page</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
</head>
<body>
    <div class="container">
        <div class="row">
            <h3 class="col-md-10">Test App</h3>
            <a href="/" class="col-md-1">Home</a>
            <a href="/signin" class="col-md-1">Sign In</a>
            <hr>
        </div>
        <div class="jumbotron">
            <h1>Welcome to the Test</h1>
            <p>We're going to build a cool application using a MVC framework! This application was built with the Village88 folks!</p>
            <a href="/signin"><button class="btn btn-primary">Start</button></a> 
        </div>
        <div class="row">
            <div class="col-md-4">
                <h6>Manage Users</h6>
                <p>Using this application, you'll learn how to add, remove, and edit users for the application.</p>
            </div>
            <div class="col-md-4">
                <h6>Leave Messages</h6>
                <p>Users will be able to leave a message to another user using this application.</p>
            </div>
            <div class="col-md-4">
                <h6>Edit User Information</h6>
                <p>Admins will be able to edit another user's information (email address, first name, last name, etc.)</p>
            </div>
        </div>
    </div>
</body>
</html>